/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* .body{
    background-color: #ffff;
} */

.container{
    width: 100%;
    min-height: 100vh;
    background: #1e1e1e;
    padding: 40px;
}

.todo-app{
    width: 100%;
    max-width: 900px;
    background: #373737;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 40px;
}

.todo-app h2{
    color: #D8FB78;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 100px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.todo-app li{
    color: #fff;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;

}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #D8FB78;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center ;
    background-image:url(images/unchecked.png);
    top: 12px;
    left: 8px;

}

ul li.checked{
    color: #fff;
    text-decoration-line: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50% ;
}

ul li span:hover{
    background: #edeef0;
} 